<div class="row">
    <div class="col-md-3">
        <span class="hipster img-fluid rounded"></span>
    </div>
    <div class="col-md-9">
        <h3 class="display-5">TO-DO LIST</h3>
        <p>Below is an overview of the application architecture and functionality. Please familiarize yourself with it
            to get started</p>
            <div [ngSwitch]="isAuthenticated()">
                <div class="alert alert-warning" *ngSwitchCase="false">
                    <p>Requirements:</p>
                    <ul>
                        <li>Create / Edit / Delete Completed tasks</li>
                        <li>Fields: Title, Category (Health, Home etc), Description, Due date, Complete / Incomplete
                            flag, Search by title or category
                        </li>
                        <li> Clicking on a ToDo task opens a detailed preview of the task without navigating away from
                            the list
                        </li>
                        <li>I’ll let you decide how you want to allow the user to ‘complete’ a ToDo (either from the
                            list or from the preview window)
                        </li>
                        <li>Bonus: List ToDo items with pagination (5 ToDo’s per page) – only show title and category
                            when displaying the tasks in a list
                        </li>
                    </ul>
                    <p>Technology Stack</p>
                    <ul>
                        <li>Spring boot 2.1 (Java 1.8)</li>
                        <li>Angular 7.2.2</li>
                        <li>CSS</li>
                        <li>H2 for development and MySQL for production</li>
                        <li>Github</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
